body {
    font-family: Arial, Helvetica, sans-serif;
    width: 940px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -15%);
}
.Corpo {

}
h1 {
    color: #3D3D3D;
    background-color: #E1EDF2;
    padding: 10px;
}
h2 {
    border-bottom: solid black;
}
.Matriz {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 50px;
    padding-top: 15px;
}
.Legenda1 {
    position: absolute;
    bottom: 15px;    
    text-align: center;    
}
.Familia {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    margin-right: 30px;
    margin-left: 30px;
    padding-bottom: 50px;
    padding-top: 15px;
}
.Legenda2 {
    position: absolute;
    bottom: 15px;    
    text-align: center;
}


