body {
    font-family: Arial, Helvetica, sans-serif;
    width: 940px;
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -14%);
}
h1 {
    color: #3D3D3D;
    background-color: #E1EDF2;
    padding: 10px;
}
.Sub1 {
    border-bottom: solid black;
}
.Matriz {
    width: 550px;
    position: relative;
    left: 18%;
    background-color: whitesmoke;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
.Legenda1 {
    position: relative;
    bottom: 15px;
    text-align: center;        
}
.Familia {
    position: relative;
    float: right;
    margin: 30px;    
    background-color: whitesmoke;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}
.Legenda2 {
    position: relative;
    bottom: 15px;    
    text-align: center;
}
.Texto2 { 
    position: relative;
    width:60%;    
}
#Sub2 {
    color: #3D3D3D;
    background-color: #E1EDF2;
    padding: 10px;
    font-size: 30px;    
}




